%h1 
  Gallery 

%h4 Long Exposure
%a.thumbnail{:href => 'http://www.flickr.com/photos/tobiashenn/10598791813/', :target => '_blank'}
  %img{:src => 'http://farm3.staticflickr.com/2845/10598791813_ee015a63f2_c.jpg', :alt => ''}
%small 35mm f/11, 20s, ISO 100, OD 3.0 neutral density filter

%h4 Autumn
%a.thumbnail{:href => 'http://www.flickr.com/photos/tobiashenn/10471114394/', :target => '_blank'}
  %img{:src => 'http://farm8.staticflickr.com/7347/10471114394_f02723dd84_c.jpg', :alt => ''}
%small 35mm f/3.5, 1/125s, ISO 200

%h4 Steam
%a.thumbnail{:href => 'http://www.flickr.com/photos/tobiashenn/10647504464/', :target => '_blank'}
  %img{:src => 'http://farm8.staticflickr.com/7380/10647504464_c6b70645c1_c.jpg', :alt => ''}
%small 50mm f/6.3, 1/800s, ISO 1100

%h4 University
%a.thumbnail{:href => 'http://www.flickr.com/photos/tobiashenn/10435680236/', :target => '_blank'}
  %img{:src => 'http://farm8.staticflickr.com/7439/10435680236_43e5401a76_c.jpg', :alt => ''}
%small 35mm f/6.3, 1/60s, ISO 800

%h4 Würzburg
%a.thumbnail{:href => 'http://www.flickr.com/photos/tobiashenn/10627900795/', :target => '_blank'}
  %img{:src => 'http://farm6.staticflickr.com/5545/10627900795_a556b3e851_c.jpg', :alt => ''}
%small 35mm f/11, 20s, ISO 100, OD 3.0 neutral density filter

%h4 Green
%a.thumbnail{:href => 'http://www.flickr.com/photos/tobiashenn/9912409036/', :target => '_blank'}
  %img{:src => 'http://farm8.staticflickr.com/7436/9912409036_b9280a92be_c.jpg', :alt => ''}
%small 50mm f/3.5, 1/800s, ISO 100

%h4 Rain
%a.thumbnail{:href => 'http://www.flickr.com/photos/tobiashenn/9651156579/', :target => '_blank'}
  %img{:src => 'http://farm3.staticflickr.com/2805/9651156579_debdabd07b_c.jpg', :alt => ''}
%small 50mm f/2.0, 1/125s, ISO 500
  
%h4 In Paris
%a.thumbnail{:href => 'http://www.flickr.com/photos/tobiashenn/9478132567/', :target => '_blank'}
  %img{:src => 'http://farm3.staticflickr.com/2827/9478132567_58a4290da1_c.jpg', :alt => ''}
%small 35mm f/1.8, 1/30s, ISO 2000

%h4 Dark Sky
%a.thumbnail{:href => 'http://www.flickr.com/photos/tobiashenn/9483988031/', :target => '_blank'}
  %img{:src => 'http://farm8.staticflickr.com/7287/9483988031_94af4f5eb1_c.jpg', :alt => ''}
%small 35mm f/13, 1/640s, ISO 800

%h4 Blue Hour
%a.thumbnail{:href => 'http://www.flickr.com/photos/tobiashenn/9338931588/', :target => '_blank'}
  %img{:src => 'http://farm4.staticflickr.com/3722/9338931588_6e57d6decc_c.jpg', :alt => ''}
%small 62mm f/8, 3s, ISO 400

%h4 Extraterrestrial
%a.thumbnail{:href => 'http://www.flickr.com/photos/tobiashenn/9178242298/', :target => '_blank'}
  %img{:src => 'http://farm6.staticflickr.com/5547/9178242298_41dfedcf37_c.jpg', :alt => ''}
%small 85mm f/6.3, 1/30s, ISO 400

%h4 Bird
%a.thumbnail{:href => 'http://www.flickr.com/photos/tobiashenn/8898274661/', :target => '_blank'}
  %img{:src => 'http://farm6.staticflickr.com/5456/8898274661_8704ac018b_c.jpg', :alt => ''}
%small 92mm f/7.1, 1/1000s, ISO 200
			
%h4 Summer
%a.thumbnail{:href => 'http://www.flickr.com/photos/tobiashenn/8751573726/', :target => '_blank'}
  %img{:src => 'http://farm9.staticflickr.com/8414/8751573726_94cdc132a9_c.jpg', :alt => ''}
%small 90mm f/9.0, 1/250s, ISO 320

%h4 Istanbul
%a.thumbnail{:href => 'http://www.flickr.com/photos/tobiashenn/8811749385/', :target => '_blank'}
  %img{:src => 'http://farm4.staticflickr.com/3700/8811749385_7041a8ce6d_c.jpg', :alt => ''}
%small 18mm f/3.5, 1/30s, ISO 100
    
%h4 Sunrise
%a.thumbnail{:href => 'http://www.flickr.com/photos/tobiashenn/8253493707/', :target => '_blank'}
  %img{:src => 'http://farm9.staticflickr.com/8210/8253493707_a4f70495f4_c.jpg', :alt => ''}
%small 35mm f/3.5, 1/1250s, ISO 100

%h4 Moth
%a.thumbnail{:href => 'http://www.flickr.com/photos/tobiashenn/8496336255/', :target => '_blank'}
  %img{:src => 'http://farm9.staticflickr.com/8244/8496336255_5445a6cd9a_c.jpg', :alt => ''}
%small iPhone 4S, additional 4mm aspherical lens

%h4 Camping 
%a.thumbnail{:href => 'http://www.flickr.com/photos/tobiashenn/9130651451/', :target => '_blank'}
  %img{:src => 'http://farm8.staticflickr.com/7450/9130651451_7fcd9def35_c.jpg', :alt => ''}
%small 18mm f/3.5, 1s, ISO 1000

%h4 Flare
%a.thumbnail{:href => 'http://www.flickr.com/photos/tobiashenn/8134052887/', :target => '_blank'}
  %img{:src => 'http://farm9.staticflickr.com/8332/8134052887_6c9b4d7832_c.jpg', :alt => ''}        
%small 35mm f/2.0, 1/800s, ISO 100

%h4 Still life
%a.thumbnail{:href => 'http://www.flickr.com/photos/tobiashenn/8605765923/', :target => '_blank'}
  %img{:src => 'http://farm9.staticflickr.com/8528/8605765923_82b7136574_c.jpg', :alt => ''}
%small 35mm f/5.0, 1/40s, ISO 320
      
%h4 Siena
%a.thumbnail{:href => 'http://www.flickr.com/photos/tobiashenn/8137605291/', :target => '_blank'}
  %img{:src => 'http://farm9.staticflickr.com/8196/8137605291_76b1528edf_c.jpg', :alt => ''}
%small 32mm f/10, 13s, ISO 400
      
%h4 Morning Fog
%a.thumbnail{:href => 'http://www.flickr.com/photos/tobiashenn/8096105056/', :target => '_blank'}
  %img{:src => 'http://farm9.staticflickr.com/8190/8096105056_bd22a19a65_c.jpg', :alt => ''}
%small 35mm f/8.0, 1/400s, ISO 100