%h1 Gallery 

%h4 Marseille shop
%a.thumbnail{:href => 'https://www.flickr.com/photos/tobiashenn/14478134332/'}
  %img{:src => 'https://farm3.staticflickr.com/2916/14478134332_d5f4105840_b.jpg', :alt => ''}
%small 50mm f/4.0, 1/125s, ISO 250

%h4 Mona Lisa
%a.thumbnail{:href => 'http://www.flickr.com/photos/tobiashenn/12904949835'}
  %img{:src => 'http://farm4.staticflickr.com/3792/12904949835_427f8ca982_b.jpg', :alt => ''}
%small 35mm f/3.5, 1/50s, ISO 640

%h4 Riga Central Market
%a.thumbnail{:href => 'https://www.flickr.com/photos/tobiashenn/14005286744/'}
  %img{:src => 'https://farm8.staticflickr.com/7067/14005286744_26a6266114_b.jpg', :alt => ''}
%small 35mm f/3.2, 1/200s, ISO 640

%h4 In Lyon
%a.thumbnail{:href => 'https://www.flickr.com/photos/tobiashenn/14292848650/'}
  %img{:src => 'https://farm3.staticflickr.com/2924/14292848650_43cc9ea89d_b.jpg', :alt => ''}
%small 50mm f/7.1, 1/125s, ISO 250

%h4 Hong Kong
%a.thumbnail{:href => 'http://www.flickr.com/photos/tobiashenn/12265531396/'}
  %img{:src => 'http://farm3.staticflickr.com/2806/12265531396_4e4c38f178_b.jpg', :alt => ''}
%small 18mm f/8.0, 1/100s, ISO 320

%h4 Power tourists
%a.thumbnail{:href => 'https://www.flickr.com/photos/tobiashenn/14478307572/'}
  %img{:src => 'https://farm3.staticflickr.com/2917/14478307572_645ae2a4fd_b.jpg', :alt => ''}
%small 50mm f/9.0, 1/200s, ISO 250

%h4 Riga Freedom Monument
%a.thumbnail{:href => 'https://www.flickr.com/photos/tobiashenn/14001616561/'}
  %img{:src => 'https://farm6.staticflickr.com/5126/14001616561_06d518c483_b.jpg', :alt => ''}
%small 35mm f/10, 1/160s, ISO 125

%h4 Girl with rabbit
%a.thumbnail{:href => 'https://www.flickr.com/photos/tobiashenn/14499602683/'}
  %img{:src => 'https://farm3.staticflickr.com/2910/14499602683_a668504e0f_b.jpg', :alt => ''}
%small 50mm f/3.2, 1/125s, ISO 100

%h4 Streetscape
%a.thumbnail{:href => 'https://www.flickr.com/photos/tobiashenn/10607697033/'}
  %img{:src => 'https://farm6.staticflickr.com/5502/10607697033_9c77efea6f_b.jpg', :alt => ''}
%small 35mm f/2.0, 1/100s, ISO 1600

%h4 In Paris
%a.thumbnail{:href => 'http://www.flickr.com/photos/tobiashenn/10866015585'}
  %img{:src => 'http://farm4.staticflickr.com/3822/10866015585_fb215d240b_c.jpg', :alt => ''}
%small 48mm f/10, 1/320s, ISO 200

%h4 Higuma
%a.thumbnail{:href => 'https://www.flickr.com/photos/tobiashenn/12184657433/'}
  %img{:src => 'https://farm4.staticflickr.com/3782/12184657433_473dff17f6_b.jpg', :alt => ''}
%small 35mm f/4.5, 1/100s, ISO 800

%h4 Clouds in France
%a.thumbnail{:href => 'https://www.flickr.com/photos/tobiashenn/14292969797/'}
  %img{:src => 'https://farm3.staticflickr.com/2935/14292969797_2dbf538e64_b.jpg', :alt => ''}
%small 35mm f/8.0, 1/200s, ISO 100, circular polarizer

%h4 Hong Kong Harbour
%a.thumbnail{:href => 'http://www.flickr.com/photos/tobiashenn/12288909723/'}
  %img{:src => 'http://farm4.staticflickr.com/3809/12288909723_919ce7b010_b.jpg', :alt => ''}
%small 25mm f/8.0, 0.3s, ISO 100

%h4 Snail
%a.thumbnail{:href => 'https://www.flickr.com/photos/tobiashenn/14011304886/'}
  %img{:src => 'https://farm3.staticflickr.com/2927/14011304886_d834af348e_b.jpg', :alt => ''}
%small 50mm f/3.5, 1/200s, ISO 100

%h4 Hong Kong Airport
%a.thumbnail{:href => 'https://www.flickr.com/photos/tobiashenn/9689013113/'}
  %img{:src => 'https://farm3.staticflickr.com/2877/9689013113_db752c35c1_b.jpg', :alt => ''}
%small 105mm f/6.3, 1/160s, ISO 500

%h4 Bar in Barcelona
%a.thumbnail{:href => 'http://www.flickr.com/photos/tobiashenn/10598417305'}
  %img{:src => 'http://farm4.staticflickr.com/3756/10598417305_fffb7b9f61_c.jpg', :alt => ''}
%small 35mm f/5.6, 1/5s, ISO 400

%h4 Shanghai	
%a.thumbnail{:href => 'https://www.flickr.com/photos/tobiashenn/9651155589/'}
  %img{:src => 'https://farm8.staticflickr.com/7374/9651155589_91f8c183b7_b.jpg', :alt => ''}
%small 35mm f/2.0, 1/60s, ISO 500

%h4 Long Exposure
%a.thumbnail{:href => 'http://www.flickr.com/photos/tobiashenn/10598791813/'}
  %img{:src => 'http://farm3.staticflickr.com/2845/10598791813_ee015a63f2_c.jpg', :alt => ''}
%small 35mm f/11, 20s, ISO 100, OD 3.0 neutral density filter

%h4 Alley
%a.thumbnail{:href => 'http://www.flickr.com/photos/tobiashenn/12505194794/'}
  %img{:src => 'http://farm8.staticflickr.com/7336/12505194794_b76e510343_b.jpg', :alt => ''}
%small 35mm f/2.2, 1/60s, ISO 1600

%h4 Rain
%a.thumbnail{:href => 'http://www.flickr.com/photos/tobiashenn/9651156579/'}
  %img{:src => 'http://farm3.staticflickr.com/2805/9651156579_debdabd07b_c.jpg', :alt => ''}
%small 35mm f/2.0, 1/125s, ISO 500
  
%h4 In Paris
%a.thumbnail{:href => 'http://www.flickr.com/photos/tobiashenn/9478132567/'}
  %img{:src => 'http://farm3.staticflickr.com/2827/9478132567_58a4290da1_c.jpg', :alt => ''}
%small 35mm f/1.8, 1/30s, ISO 2000

%h4 Dark Sky
%a.thumbnail{:href => 'http://www.flickr.com/photos/tobiashenn/9483988031/'}
  %img{:src => 'http://farm8.staticflickr.com/7287/9483988031_94af4f5eb1_c.jpg', :alt => ''}
%small 35mm f/13, 1/640s, ISO 800

%h4 Summer
%a.thumbnail{:href => 'http://www.flickr.com/photos/tobiashenn/8751573726/'}
  %img{:src => 'http://farm9.staticflickr.com/8414/8751573726_94cdc132a9_c.jpg', :alt => ''}
%small 90mm f/9.0, 1/250s, ISO 320

%h4 Bird
%a.thumbnail{:href => 'http://www.flickr.com/photos/tobiashenn/8898274661/'}
  %img{:src => 'http://farm6.staticflickr.com/5456/8898274661_8704ac018b_c.jpg', :alt => ''}
%small 92mm f/7.1, 1/1000s, ISO 200

%h4 Istanbul
%a.thumbnail{:href => 'http://www.flickr.com/photos/tobiashenn/8811749385/'}
  %img{:src => 'http://farm4.staticflickr.com/3700/8811749385_7041a8ce6d_c.jpg', :alt => ''}
%small 18mm f/3.5, 1/30s, ISO 100

%h4 Still life
%a.thumbnail{:href => 'http://www.flickr.com/photos/tobiashenn/8605765923/'}
  %img{:src => 'http://farm9.staticflickr.com/8528/8605765923_82b7136574_c.jpg', :alt => ''}
%small 35mm f/5.0, 1/40s, ISO 320