%div.page-header
  %h1 
    Gallery
      
%p Here are some photos I have taken recently. They might not be something special but I really like them. 

%h4 Green
%ul.thumbnails
  %li
    %a.thumbnail{:href => 'http://www.flickr.com/photos/tobiashenn/9117726295/sizes/c/in/photostream/', :target => '_blank'}
      %img{:src => 'http://farm6.staticflickr.com/5473/9117726295_25a2f9d611_c.jpg', :alt => ''}

%h4 Bird
%ul.thumbnails
  %li
    %a.thumbnail{:href => 'http://www.flickr.com/photos/tobiashenn/8898274661/sizes/c/in/photostream/', :target => '_blank'}
      %img{:src => 'http://farm6.staticflickr.com/5456/8898274661_8704ac018b_c.jpg', :alt => ''}
			
%h4 Summer
%ul.thumbnails
  %li
    %a.thumbnail{:href => 'http://www.flickr.com/photos/tobiashenn/8751650186/sizes/c/in/photostream/', :target => '_blank'}
      %img{:src => 'http://farm3.staticflickr.com/2809/8751650186_8bc1ec96d8_c.jpg', :alt => ''}

%h4 Istanbul
%ul.thumbnails
  %li
    %a.thumbnail{:href => 'http://www.flickr.com/photos/tobiashenn/8811749385/sizes/c/in/set-72157633638799291/', :target => '_blank'}
      %img{:src => 'http://farm4.staticflickr.com/3700/8811749385_7041a8ce6d_c.jpg', :alt => ''}
    
%h4 Sunrise
%ul.thumbnails
  %li
    %a.thumbnail{:href => 'http://www.flickr.com/photos/tobiashenn/8253493707/sizes/c/in/photostream/', :target => '_blank'}
      %img{:src => 'http://farm9.staticflickr.com/8210/8253493707_a4f70495f4_c.jpg', :alt => ''}

%h4 Moth
%ul.thumbnails
  %li
    %a.thumbnail{:href => 'http://www.flickr.com/photos/tobiashenn/8496336255/sizes/c/in/photostream/', :target => '_blank'}
      %img{:src => 'http://farm9.staticflickr.com/8244/8496336255_5445a6cd9a_c.jpg', :alt => ''}

%h4 Library
%ul.thumbnails
  %li
    %a.thumbnail{:href => 'http://www.flickr.com/photos/tobiashenn/8096099055/sizes/c/in/photostream/', :target => '_blank'}
      %img{:src => 'http://farm9.staticflickr.com/8055/8096099055_95fb115574_c.jpg', :alt => ''}    

%h4 Berlin
%ul.thumbnails
  %li
    %a.thumbnail{:href => 'http://www.flickr.com/photos/tobiashenn/8503599080/sizes/c/in/photostream/', :target => '_blank'}
      %img{:src => 'http://farm9.staticflickr.com/8232/8503599080_ccb24f5010_c.jpg', :alt => ''}
      
%h4 Winter
%ul.thumbnails
  %li
    %a.thumbnail{:href => 'http://www.flickr.com/photos/tobiashenn/8235011230/sizes/c/in/photostream/', :target => '_blank'}
      %img{:src => 'http://farm9.staticflickr.com/8204/8235011230_3bd72ee978_c.jpg', :alt => ''}

%h4 Flare
%ul.thumbnails
  %li
    %a.thumbnail{:href => 'http://www.flickr.com/photos/tobiashenn/8134052887/sizes/c/in/photostream/', :target => '_blank'}
      %img{:src => 'http://farm9.staticflickr.com/8332/8134052887_6c9b4d7832_c.jpg', :alt => ''}        

%h4 Autumn
%ul.thumbnails
  %li
    %a.thumbnail{:href => 'http://www.flickr.com/photos/tobiashenn/8153662155/sizes/c/in/photostream/', :target => '_blank'}
      %img{:src => 'http://farm8.staticflickr.com/7120/8153662155_c584102ec4_c.jpg', :alt => ''}
      
%h4 Siena
%ul.thumbnails
  %li
    %a.thumbnail{:href => 'http://www.flickr.com/photos/tobiashenn/8137605291/sizes/c/in/photostream/', :target => '_blank'}
      %img{:src => 'http://farm9.staticflickr.com/8196/8137605291_76b1528edf_c.jpg', :alt => ''}
      
%h4 Morning Fog
%ul.thumbnails
  %li
    %a.thumbnail{:href => 'http://www.flickr.com/photos/tobiashenn/8096105056/sizes/c/in/photostream/', :target => '_blank'}
      %img{:src => 'http://farm9.staticflickr.com/8190/8096105056_bd22a19a65_c.jpg', :alt => ''}        