%html
	%head
		%meta{:charset => "utf-8"}
		%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
		%title tobiashenn.com

		/ add CSS
		%link{ :href => "/main.css", :type => "text/css", :rel => "stylesheet" }
		/ favicon
		%link{ :rel => "shortcut icon", :href => "/favicon.ico" }
		
	%body
		%div= haml :navbar
		%hr
		= yield