.navbar.navbar-fixed-top.navbar-inverse
	.navbar-inner
		.container
			%a.brand{:href => '/'} tobiashenn.com
			%ul.nav
				%li
					%a{:href => '/'}Home
				%li
					%a{:href => '/blog'}Articles
				%li
					%a{:href => '/research'}Research
				%li
					%a{:href => '/contact'}Contact
				%li
					%a{:href => '/gallery',}Gallery
				%li
					%a{:href => 'https://github.com/tobiashenn/sinatra_blog', :target => '_blank'}Github