.navbar.navbar-fixed-top.navbar-inverse
	.navbar-inner
		.container
			%a.brand{:href => '/'} tobiashenn.com
			%ul.nav
				%li
					%a{:href => '/'}Home
				%li
					%a{:href => '/blog'}Blog
				%li
					%a{:href => '/contact'}Contact
				%li
					%a{:href => 'http://www.flickr.com/photos/tobiashenn/', :target => '_blank'}Flickr
				%li
					%a{:href => 'http://instagram.com/tobias_henn', :target => '_blank'}Instagram
						