#nav
	%ul
		%li
			%a{:href => '/'}Home
		%li
			%a{:href => '/articles'}Articles
		%li
			%a{:href => '/research'}Research      
		%li
			%a{:href => '/contact'}Contact
		%li
			%a{:href => '/gallery'}Photography