html {
    background-color: #eeeeee;
}

body {
    margin: 0 auto;
    padding: 2em;
    max-width: 700px;
    font-family: Avenir,"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.3em;
    color: #333333;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
}

#nav {
    background-color: #34495E;       
    border-radius: 5px;
    height: 30px;
	text-align: right;
	width: 100%;
	font-family: "Helvetica Neue", 'Lucida Grande', Lucida, Verdana, sans-serif;
    margin: 0;
    font-size: 15px;
}

#nav ul {
	margin: 0;
	padding: 0;
	display: inline;
    padding-right: 10px;
}

#nav ul li {
    vertical-align:middle;
    padding: 5px;
	list-style: none;
	display: inline;
}

#nav ul li a {
	text-decoration: none;
	color: #ffffff;
	line-height: 30px;
}

#nav ul li a:hover {
	color: #1ABC9C; 
	border-bottom: 2px solid #1ABC9C;
}

a, a:hover {
    color: #1ABC9C; 
}

ul {
    padding-left: 25px;
}

h1, h2, h3, h4, h5, h6 {
    
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#34495E;
    line-height: 1.3em;
}

h1 {
    font-size:35px;
}

hr {
    clear: both;
	border: none;
	height: 2px;
	margin-top: 30px;
	margin-bottom: 0;
	background: linear-gradient(to right,  #ffffff 0%,#34495E 25%,#34495E 50%,#34495E 75%,#ffffff 100%);
}

img {
    border-radius: 5px;
    margin: 10px 0;
    max-width: 95%;
}

#article_list ul {
    list-style: none;
}

samp {
    /* hide <samp> from the browser so we can show cool features in Edge Code */
    display: none;
}